@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* font for time -> Teko  */ 
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Teko:wght@300&display=swap');
/* font for quiz questions */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
/* style for universal attributes - specific elements for all the HTML elements within web page  */
* {
    margin: 10px;
    font-family: 'Permanent Marker';
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

/* color variables */
:root {
    /*yellow color */
    --hue-neutral: 34;
    --hue-wrong: 0;
    --hue-correct: 120;
}


/* style for body attribute */
body {
    /*css variables for setting colors */

    --hue: var(--hue-neutral)
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--hue-neutral), 100%, 50%);
    font-family: 'Share Tech Mono', monospace;
}   

body.correct{
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);

}
/* ============================             header section container styling       ============================ */ 
.quiz_header {
    height: 70px; 
    width: auto; 
    background: #D52027;
    padding: 10px;
    display: flex; 
    align-items: center;
    /* elements will be placed left to right in a row */  
    flex-direction: row; 
    /* which means the top-left corner and bottom-left corner of the targeted element will have a radius of 30 pixels, while the top-right and bottom-right corners will have a radius of 0 pixels, resulting in a semi-circular shape. */
    border-radius: 30px 0px;
    justify-content: space-between;
    
}
.quiz_header h5 
{
    font-size: 1.3rem;
    margin: 0 20px; 
    color: #f8eee3;
}   

.quiz_header .timer {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: space-around;
    align-items: center;
}
.quiz_header .timer h6 {
     color: #f8eee3
}
/* ============================             quiz section           ============================ */ 
/* styles for the CARD box */
.container
{
    height: auto;
    width: 800px;
    max-width: 80%;
    padding: 20px;
    background: #f8eee3;
    border-radius: 30px 10px;
    border: 2px solid #f8eee3;
    color: #D52027;
    /* 10px blur, 2px spread */
    /* display: block; */
    /* display: none;  */
}    


.question-container {
    top: 20px;
    display: flex;
    height: auto;
    align-items: center;
}    

/* styles for quiz buttons container */
.btn-grid {
    display: grid;
    /*gives it two columns, auto width makes the buttons as wide as it can be */
    grid-template-columns: repeat(2, auto);
    grid: 10px;
    margin: 20px 0;
    border-radius: 30px 10px;
    position: relative;
}    

/* styles for quiz buttons */
.btn, btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue-neutral), 100%, 30%);
    background-color: hsl(var(--hue-neutral), 100%, 68%);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    color: #f8eee3;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Rajdhani';
    border-radius: 25px 5px;
    
}

.btn:hover {
    color: #D52027;
    cursor: pointer;
    filter: drop-shadow(0px 10px 10px #857a7a); 
    transform: translate(10px);
    transition: transform 150ms;
    border: white;
}


/* styles for buttons correct */
#answer-buttons .btn.correct {
   background-color: hsl(var(--hue-correct), 80%, 50%); 
   color: grey;
}   
/* styles for buttons wrong */
#answer-buttons .btn.wrong {
    background-color: hsl(var(--hue-wrong), 100%, 30%);
    color: grey;
}    

 

#question {
    position: relative;
}    

/*wrappers for buttons  */
.controls 
{
    display: flex;
    justify-content: center;
    align-items: center; 
}    

.hide {
    display: none !important;
}   

i {
    position: relative;
    top: -0.1rem;
}

a {
    text-decoration: none;
}

/* hud area timer and progress */ 

#results {
    display: flex;
    justify-content: space-between;
    background-color: #D52027;
    align-items: center;
    padding: 20px;
    width: 88%;
    height: 80px;
    border-radius: 30px 5px;
}

.scores #progress{
    display: flex; 
    justify-content: space-around;
    padding: 0px;
    color: #f8eee3;
}

h6 {
    padding: 0px;
    color: #f8eee3;
    text-align: center;
}

/*footer section */
footer {
    background-color:  #f8eee3;
    color: #D52027;
    display: flex;
    width: 800px;
    max-width: 80%;
    height: auto;
    padding: 0px 0px;
    position: relative; 
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column; 
    text-align: center;
    line-height: 1em;
    border: 2px dotted;
    border-radius: 10px;
    
}
footer h4 .icon, footer h4 {
    padding: 0px;
    font-size: .8rem;
}