@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');
/* font for heading */ 
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font for time -> Teko  */ 
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Teko:wght@300&display=swap');
/* font for quiz questions */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
/* style for universal attributes - specific elements for all the HTML elements within web page  */
* {
    padding: 0px;
    margin: 10px;
    font-family: 'Caveat', cursive;
    box-sizing: border-box;
}

/* style for body attribute */
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #ffb049
}

a {
    text-decoration: none;
    color: #f8eee3;
    font-family: Radjdhan;
  }

.container {
    height: auto;
    width: auto;
}

/* ============================             header section container styling       ============================ */ 
.quiz_header {
    height: 70px; 
    width: auto; 
    background: #D52027;
    position: absolute;
    top: 0;
    left: 0; 
    padding: 10px;
    display: flex; 
    align-items: center;
    /* elements will be placed left to right in a row */  
    flex-direction: row; 
    /* which means the top-left corner and bottom-left corner of the targeted element will have a radius of 30 pixels, while the top-right and bottom-right corners will have a radius of 0 pixels, resulting in a semi-circular shape. */
    border-radius: 30px 0px;
}
.quiz_header h5 
{
    font-size: 2.12rem;
    margin: 0 20px; 
    color: #f8eee3;
}



/* ============================             Guide section           ============================ */ 

/* styles for the instruction box */
.quiz_guide, .quiz 
{
    height: auto;
    width: auto;
    padding: 20px;
    background: #f8eee3;
    border-radius: 30px 10px;
    border: 2px solid #f8eee3;
    color: #D52027;
    /* display: block; */
    /* display: none;  */
}

.quiz_guide {
    margin: 50px
}

/* styles for the instruction text */
div.quiz_guide h4 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
/* styling for button */ 
.startbtn {
    margin-top: 30px;
    width: 300px;
    height: 100px;
    background: #ffb049;
    color: #f8eee3;
    font-size: 35px;
    font-family: 'Rajdhani';
    border: 2px dotted #D52027;
    box-shadow: #D52027;
}


/* ============================             quiz section           ============================ */ 
/* style for quiz container container */ 
.quiz 
{
    /* display: block;  */
    height: 480px;
  /* poisition the box on the page as the user scrolls  */
    position: relative;
}

/*Styling for quiz header container size, color, and poisitioning */


/*Styling for timer container and */
.quiz .quiz_header .timer
{
    height: 50px;
    width: auto;
    background: #ffb049; 
    color: #f8eee3;
    border: 1px solid #f8eee3;
    font-size: 1.35rem;
    border-radius: 20px 5px;
    display: flex;
    /* elements will be placed left to right in a row */ 
    flex-direction: row;
    right: 10px;
}
/*Styling for options container */
.quiz .quiz_header .timer h6
 {
    font-size: 1.2rem;
    display: grid; 
    place-items: center;
    margin: 0 10px;
    font-family: 'Teko', sans-serif;
    font-weight: lighter;
}

/*style for timer box with time display */
.quiz .quiz_header .timer .time
{
    height: 40px;
    width: 50px; 
    align-self: center;
    background: #f8eee3; 
    color: #ffb049;
    border: 1px solid #f8eee3;
    border-radius: 15px 7px;
    margin: 1px 0 1.5px 27px;
    font-family: 'Teko', sans-serif;

}

/*Styling for question container parent element spacing */
.quiz .questions 
{
    position: absolute; 
    top: 90px;
    display: flex; 
    flex-direction: row;
    
}

/*Styling for questions heading text */
.quiz .questions h2
{
    font-size: 27px; 
    color:#D52027;
    font-family: 'Rajdhani', sans-serif;

}
/*Styling to create spacing between number and question text */
.quiz .questions h2:first-child 
{
    margin: 0 10px 0 5px; 

}
/* ============================             quiz options section           ============================ */ 

/*Styling for options container */
.quiz .optionList
{
    height: 400px; 
    width: 100%; 
    position: absolute; 
    top: 160px; 
}

/*Styling for answer options text */
.quiz .optionList h4
{
    height: 50px;
    width: 535px;
    background: #ffb049;
    line-height: 50px;
    margin: 5px 0;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 20px;
    color: #D52027;
    overflow: hidden;
    border: 1px solid #f8eee3;
    cursor: pointer;
}

/*Styling for users hovering over options text */
.quiz .optionList h4:hover {
    background: #D52027;
    color: #f8eee3;
}

.quiz .optionList .active {
    background: #D52027;
    color: #f8eee3;
}

.quiz .optionList .disabled {
    pointer-events: none;
}

/* ============================             quiz answers section           ============================ */ 
/* bottom bar styling */
.quiz .quiz_ans
{
    height: 60px;
    width: 89%;
    background: #D52027;
    position: absolute; 
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px 0;
}
/* bottom bar spacing for text  */
.quiz .quiz_ans h3
{
    margin: 0px 30px; 
    display: none; 
}
/* bottom bar styling for the next button */
.quiz .quiz_ans h3:last-child 
{
    height: 40px; 
    width: 100px; 
    display: grid;
    place-items: center; 
    background: #ffb049;
    position: absolute; 
    right: 0;
    color: #D52027;
    border: 1px solid #f8eee3;
    font-size: 18px;
    border-radius: 20px 5px; 
    cursor: pointer;
    margin: 0 20px;
}
/* next button hover styling */
.quiz .quiz_ans h3:hover 
{
    background: #f8eee3;
    color: #D52027
}
/* question answer display hover styling */
.quiz .quiz_ans h3:first-child:hover
{
    background: none;
} 

/* Result styling for container, set background size, and border.  */
.result{
    height: 500px; 
    width: 450px;
    padding: 20px; 
    background: #D52027;
    border-radius: 30px 10px;
    border: 1px solid #ffb049;
    overflow: hidden; 
    position: relative;
    display: none;
}

/*styling for results icon*/
.quiz-content .result i {
    font-size: 180px; 
    color: #ffb049;
    top: 30px; 
    left: 120px;
    position: absolute;
}
/* style edit for texts in results  */
.quiz-content .result h6
{
    height: 400px;
    width: 87%; 
    font-size: 25px;
    position: absolute; 
    text-align: center;
    top: 235px;
    color: #f8eee3;
}

/* style edit for points in results  */ 
.quiz-content .result #points 
{
    font-size: 30px;
    top: 275px;
}

.quiz-content .result button
{
    height: 60px;
    width: 260px; 
    border: none; 
    outline: none; 
    background: #ffb049;
    position: absolute; 
    left: 125px;
    top: 335px;
    border: 1px solid #f8eee3;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
}

.quiz-content .result button:last-child
{
    top: 405px;
}

.quiz-content .result button:last-child:hover
{
    background: #f8eee3;
    color: #D52027;
}

